{% extends 'my_blog/index.html' %}
{% load staticfiles %}
{% block custom_css %}
    <link href="{% static 'my_blog/css/about.css' %}" rel="stylesheet">
    <link href="{% static 'my_blog/css/index.css' %}" rel="stylesheet">

{% endblock %}
{% block title %}
    X.xx关于我
{% endblock %}
{% block coutent %}
     <article>
     {% block bread %}
    <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="{% url 'index:about' %}">关于我</a></h3>
     {% endblock %}
    <div class="about">
      <h2>Just about me</h2>
      <ul>
          <p>
              X.xx 一个编程笨鸟
          </p>
          <p>
                年轻，就该奋斗

年轻的我们就像还是漂泊的小船，虽然有时候找不到最终的方向，但我们务必得往前行，努力找到停泊的彼岸。

年轻一次不容易，有一首歌说的好，“再不疯狂我们就老了”，年轻就该疯狂，但更就应奋斗才行。

年轻的我们能够犯错，年轻的我们能够错过，年轻的我们还输得起。没有比脚更长的路，没有比年轻更好的青春，所以走好青春的每一步。

有努力就有期望，年轻的心有的是激情、力量、勇气。我们能够大胆的做自己，做那个心中最“疯狂”，最真实的自己。

年轻就该经历酸甜苦辣，年轻就该流泪呐喊，是我们的就该去追逐，不是我们的我们依然能够去争取，因为我们还年轻，趁青春还在，抓住青春的尾巴，在人生的战场上留下一笔属于自己的辉煌战绩！
          </p>
          <p>
              送给所有奋斗中的我们

人生，就是一场自己与自己的较量：

让用心打败消极，让快乐打败忧郁，让勤奋打败懒惰，让坚强打败脆弱。

在每一个充满期望的清晨，告诉自己：努力，就总能遇见更好的自己。

每一天给自己一个期望，不为明天烦恼，不为昨日叹息。

如果只是等待，惟一会发生的事，就是你变老了。

没有永久的失败，只是暂时没有成功。

生活不会更容易，但你能够因此更强大。

努力做好自己，不管是被命运赏识，还是被宿命淹没。

当梦想还在，就不要放弃飞翔和追逐。

若不给自己设限，就没有能限制你挥洒的藩篱。

感觉走起来个性艰难就对了，说明你正在走上坡路。

不要躲避风雨，风雨之后就是彩虹。
          </p>
          <p>
              奋斗，与梦想同在
          </p>
      </ul>
      <h2>About my blog</h2>

    </div>
  </article>
{% endblock %}

{% block news %}
{% endblock %}


